@{
    ViewBag.Title = "Home Page";
}

@section Head{
<style type="text/css">
    .toolbar 
    {
    	top: 200px;
    	left: 50px;
    	background-color: #cccccc;
    	padding: 2px;
    	border:1px solid navy;
    	position: absolute;
    	display:none;
    }
    .segment
    {
    	background-color: #efefef;
    	height:20px;
    	float:left;
    	overflow:hidden;
    }
    .segment-left
    {
    	background-color: #efefef;
    	border-right: 1px solid black;
    	width:5px;
    	height:20px;
    	float:left;
    }
    .segment-right
    {
    	background-color: #efefef;
    	border-left: 1px solid black;
    	width:5px;
    	height:20px;
    	float:left;
    }
    .toolbar-item
    {
    	cursor: pointer;
    	border:1px solid #ee5555;
    	margin: 1px;
    }
    .link 
    {
    	font-size:10px;
    	font-family: Tahoma, Verdana, Sans-Serif;
    	display:inline-block;
    	height:16px;
    }
    
    .menu
    {
    	position: absolute;
    }
    .menu-item
    {
    	font-family: Tahoma, Verdana, Sans-Serif;
    	font-size:12px;
    	border: 1px solid Navy;
    	background-color: White;
    	padding: 5px 10px;
    	margin-top: -1px;
    	cursor: pointer;
    }
    .menu-item:hover
    {
    	background-color: #e8eef4;
    }
</style>
}
<h2>@ViewBag.Message</h2>
<p>
    To learn more about SWFUpload visit <a href="http://swfupload.org" title="ASP.NET MVC Website">http://swfupload.org</a>.
</p>


<div class="toolbar">
    
    <div class="segment-left"></div>
    <div class="segment">
        <span class="link toolbar-item">Foo</span>
    </div>
    <div class="segment">
        <span class="link toolbar-item">Bar</span>
    </div>
    <div class="segment">
        <span class="ui-icon ui-icon-info toolbar-item"></span>
    </div>
    <div class="segment">
        <span class="ui-icon ui-icon-trash toolbar-item"></span>
    </div>
    <div class="segment">
        <span class="ui-icon ui-icon-mail-closed toolbar-item"></span>
    </div>
    <div class="segment-right"></div>
    
</div>


<div class="menu">
    <div class="menu-item">Option 1</div>
    <div class="menu-item">Option 2</div>
    <div class="menu-item">Option 3</div>
    <div class="menu-item"><button disabled="disabled">Button</button></div>
</div>