@{
    ViewBag.Title = "Index";
}

@section Head
{
    <script type="text/javascript" src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1'}]}"></script>
    <script type="text/javascript">
// using auto load techinque instead
//        google.load('visualization', '1.0', { 'packages': ['corechart'] });
        google.setOnLoadCallback(drawChart);

        function drawChart() {
            var d = 0; // directors
            var p = 0; // peons
            var m = 0; // morons
            var s = 0; // sycophants
            var c = 0; // initiatives completed
            var matrix = [];
            for (d = 1; d < 25; d++) {
                s = d + Math.floor(Math.pow(d, 1.5) / 2);
                p = (2 * d) + s;
                m = Math.ceil(Math.pow(d, 2) / s) + (p + s);
                c = Math.floor(2 * (d + p + s/2 + m/4) - (m + 2*s) + Math.log(p));
                matrix.push([d, s, p, m, c]);
            }
            var dt = new google.visualization.DataTable();
            dt.addColumn("number", "Directors");
            dt.addColumn("number", "Sycophants");
            dt.addColumn("number", "Peons");
            dt.addColumn("number", "Morons");
            dt.addColumn("number", "Initiatives Completed");
            for (i = 0; i < matrix.length; i++) {
                dt.addRow(matrix[i]);
            }
            var wrapper = new google.visualization.ChartWrapper({
                chartType: 'ComboChart',
                dataTable: dt,
                options: {
                    title: 'Moronic Growth',
                    fontSize: 10,
                    seriesType: 'line',
                    series: { 3: { type: "line", targetAxisIndex: 1} },
                    hAxis: { title: "Directors" },
                    vAxis: { gridlines: { count: 6} },
                    vAxes: [{ title: "Staff", fontSize: 11 }, { title: "Initiatives"}],
                    height: 350,
                    width: 700
                },
                containerId: 'chart_div'
            });
            wrapper.draw();
        }
    </script>
}

<h2>Chart</h2>

<div id="chart_div"></div>
